---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <div class="prose">
    <h1>About</h1>
    <p>
      Hi, my name is Gabriel, and I am a software developer from Brazil. I have a bachelor's degree in Software
      Engineering. I enjoy solving problems, discovering new technologies, and I'm also a coffee nerd. The languages I
      use the most are Java and Node.js and I have experience with backend frameworks like Spring Boot, Express.js and
      Nestjs. I also have experience with frontend technologies like React and Angular. I am always looking for new
      challenges and opportunities to learn and grow as a professional. I am currently creating my own projects. You can
      find me on <a href="https://github.com/GabrielL915">GitHub</a> and <a
        href="www.linkedin.com/in/gabriel-luiz-gomes-4549b4232">LinkedIn</a
      >.
    </p>
  </div>
</LayoutDefault>
