---
import { themeConfig } from '~/.config'

const { title } = themeConfig.site
---

<a class="not-underline-hover flex items-center gap-3.5 c-primary" href="/">
  <svg width="44" height="44" viewBox="0 0 44 44" aria-hidden="true">
    <path
      class="brush-stroke"
      d="M22 3.5 C 11 4.5, 3.5 12, 4 23 C 4.5 33, 12 40.5, 22.5 40 C 32.5 39.5, 40 32, 39.8 21.5 C 39.6 13, 34 5.5, 25 4"
      fill="none"
      stroke-width="3.4"
      stroke-linecap="round"></path>
  </svg>
  <span class="font-header text-6.5">{title}</span>
</a>
