---
import { themeConfig } from '~/.config'

const { title } = themeConfig.site
---

<a class="not-underline-hover flex items-center gap-3.5 c-primary" href="/">
  <svg width="44" height="44" viewBox="0 0 55 55" aria-hidden="true">
    <g transform="rotate(-18 27 24)">
      <path
        d="M 27 8.5 C 25.6 6.8, 24.6 6.6, 23.4 7.6 C 24 8.4, 24.4 9, 24.7 9.8 C 17 11.5, 8.5 15.5, 3 21.5 C 11 21.2, 17.5 22.5, 22.5 26.5 C 24.5 28.2, 26 30.5, 27 33.5 C 28 30.5, 29.5 28.2, 31.5 26.5 C 36.5 22.5, 43 21.2, 51 21.5 C 45.5 15.5, 37 11.5, 29.3 9.8 C 29.6 9, 30 8.4, 30.6 7.6 C 29.4 6.6, 28.4 6.8, 27 8.5 Z"
        fill="currentColor"></path>
      <path
        d="M 27 33 C 27.2 38, 26 42, 22.5 46.5 C 20.5 49, 17.5 50.5, 14.5 50.8"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"></path>
    </g>
  </svg>
  <span class="font-header text-6.5">{title}</span>
</a>
