---
import { themeConfig } from '~/.config'

const { title, subtitle } = themeConfig.site
---

<hgroup class="cursor-pointer text-center duration-800 ease-in-out vertical-layout">
  <a class="not-underline-hover duration-800 ease-in-out" href="/">
    <h3 class="text-5 font-extrabold font-header">{subtitle}</h3>
    <h1 class="text-8 font-extrabold font-header vertical-text">Gabriel</h1>
  </a>
</hgroup>

<style>
  @media (min-width: 1024px) {
    .vertical-layout {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-left: 2px solid #fff;
      padding-left: 10px;
    }

    .vertical-text {
      display: inline-block;
    }
    .vertical-text span {
      display: block;
      letter-spacing: 1rem;
    }
  }

  @media (max-width: 1024px) {
    .vertical-layout {
      display: flex;
      justify-content: center;
      border: none;
    }

    .vertical-text {
      display: inline-block;
      text-align: center;
    }
  }
</style>

<script>
  const title = document.querySelector('.vertical-text')
  if (title && title.textContent) {
    title.innerHTML = title.textContent
      .split('')
      .map((letter) => `<span>${letter}</span>`)
      .join('')
  }
</script>
