---
import { themeConfig } from '~/.config'

const year = new Date().getFullYear()

const { website, author, footer } = themeConfig.site

function parseFooter(str: string) {
  str = str.replace(/%author/g, author)
  str = str.replace(/%website/g, website)
  str = str.replace(/%year/g, year.toString())
  return str
}
---

<div class="footer-row">
  {footer.length && footer.map((str) => <p set:html={parseFooter(str)} />)}
</div>

<style>
  .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    font-size: 16px;
    color: var(--faint);
  }

  .footer-row p {
    margin: 0;
  }

  .footer-row :global(a) {
    color: var(--faint);
    text-decoration: none;
    border-bottom: 1.5px solid var(--faint);
    transition: color 0.3s ease-in-out;
  }

  .footer-row :global(a:hover) {
    color: var(--ink);
    opacity: 1;
  }
</style>
